    <header>
        <h1>CuevaJorge</h1>
        
        <nav>
            
            <ul>
                <li>
                    <a id="iniciar" href="inicio">
                        Inicio
                    </a>
                </li>
                <li>
                    <a id="cursos" href="cursos">
                        Cursos
                    </a>
                </li>
                <li>
                    <a id="agregar" href="form-agregar">
                        Agregar Curso
                    </a>
                </li>
                <li>
                    <a id="contactos" href="contacto">
                        Contacto   <!--Datos personales-->
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main class="principal">

        
    
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />


</main>        
        
<footer id="pie">
  <strong id="universidad">Universidad Politecnica Salesiana</strong>
  <strong id="jorge">Jorge Cueva</strong>
  <Strong id="cuenca">Cuenca-Ecuador</Strong>
</footer>